{% include "views/default/header.html" %}
{% load static %}
<div class="container">
    <br>
    <center><img src="{% static 'images/servicioadolescente.png' %}" class="sheetSlider" style="width: 80%;"/></center>
</div>
<div class="container container-about">
    <p class="p_about">
        El Área de Servicio Amigable, antes conocida como el Módulo del Adolescente, es el área encargada de atender a los pacientes jóvenes de 10 a 19 años de edad en el consultorio médico y consultorio psicológico el cual atiende los siguientes rubros: Orientación y consejería sexual, Prescripción de métodos anticonceptivos, Anticoncepción de emergencia y Atención de Infecciones de Transmisión Sexual (ITS).            
    </p>
    <p class="p_about">
        Para mayor información, dudas o solicitar una consulta, favor de acudir a nuestro módulo en:
        <ul>
            <li type="none">Calle Ignacio Luis Vallarta S/N., Col. Progreso, C.P. 39350 Acapulco de Juárez</li>
        </ul>
    </p>
    <p class="p_about">
        O puedes llamar a los siguientes números:
        <ul>
            <li type="none">7442583535</li>
        </ul>
    </p>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{% include "views/default/footer.html" %}