{% include "views/default/header.html" %}

AQUI TENEMOS ERROR, NO SE PUEDE REGISTRAR NI VER EL FORMULARIO

<h1><a class="titulos" href="#{% url 'consultas' %}">Consultas Registradas del Servicio</a>><a class="titulos" href="#">Registrar nueva consulta</a></h1>
<br>
<div class="login">
    <div id="container">
        <div id="header" class="bg-info">
            <h1>Teclee los datos correspondientes</h1>
        </div>
        <div id="content-main">
            <form action="{{app_path}}" method="POST" id="login-form">
                {% csrf_token %}
                <table>{{ form}}</table>
                <p class="errornote text-danger">
                    {{ error }}
                </p>
                <div class="submit-row">
                    <input type="submit" value="Registrar" class="btn btn-success">
                </div>
            </form>
        </div>
    </div>
</div>
<br><br>

{% include "views/default/footer.html" %}