<footer class="border-top footer main-footer">
    <br>
    <div class="container">
        <div class="row">
            &copy; 2020 - Secretaría de Salud
            <br>
        </div>
        <div class="col-sm-3">
            <h5>Síguenos en</h5>
            <ul class="list-inline" style="display: inline-flex;">
                <li><a class="social-icon facebook" target="_blank" rel="noopener" title="Enlace abre en ventana nueva"
                        href="https://www.facebook.com/SSaludGuerrero/" aria-label="Facebook de Secretaría de Salud Guerrero"></a></li>
                <li><a class="social-icon twitter" target="_blank" rel="noopener" title="Enlace abre en ventana nueva"
                        href="https://twitter.com/SSaludGro" aria-label="Twitter de Secretaría de Salud Guerrero"></a></li>
            </ul>
        </div>
    </div>
    <div class="container-fluid footer-pleca">
        <div class="row">
            <div class="col">
                <br><br>
            </div>
        </div>
    </div>
</footer>
</body>

</html>